@mixin pageContainer {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

@mixin contentContainer {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@mixin maxContentContainer($maxWidth: 900px) {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
}

@mixin link {
  .link {
    color: #ccc;
  }
}

@mixin paragraph {
  p {
    font-size: 16px;
    line-height: 30px;
  }
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}